/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.master-title-with-border-block {
	line-height: 1.5 !important;

	p {
		display: inline-block;
		margin: 0 !important;
	}

	b,
	strong {
		font-weight: 600;
	}

	span {
		display: inline-block;
	}

	&.alignleft,
	&.aligncenter,
	&.alignright {
		display: flex;
	}

	&.alignleft {
		justify-content: flex-start;
	}

	&.aligncenter {
		justify-content: center;
	}

	&.alignright {
		justify-content: flex-end;
	}

	&:not(.block-editor-block-list__block) {
		&.has-text-align-left,
		&.has-text-align-center,
		&.has-text-align-right {
			text-align: unset;
		}
	}

	&.has-text-align-left {
		span {
			text-align: left;
		}
	}

	&.has-text-align-center {
		span {
			text-align: center;
		}
	}

	&.has-text-align-right {
		span {
			text-align: right;
		}
	}

	&.has-border {
		&-top {
			span {
				padding-top: 0.5rem !important;
				border-top-style: solid;
				border-top-width: 4px;
				border-bottom-color: inherit;
			}
		}

		&-right {
			span {
				padding-right: 1rem !important;
				border-right-style: solid;
				border-right-width: 4px;
				border-bottom-color: inherit;
			}
		}

		&-bottom {
			span {
				padding-bottom: 0.5rem !important;
				border-bottom-style: solid;
				border-bottom-width: 4px;
				border-bottom-color: inherit;
			}
		}

		&-left {
			span {
				padding-left: 1rem !important;
				border-left-style: solid;
				border-left-width: 4px;
				border-bottom-color: inherit;
			}
		}

		&.is-style-from-screen-left-edge {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				width: 100%;
				border-bottom-style: solid;
				border-bottom-width: 4px;
				border-bottom-color: inherit;

				@media (max-width: 575.98px) {
					width: calc(100% - 50vw);
					left: -1.2rem;
				}

				// Small devices (landscape phones, 576px and up)
				@media (min-width: 576px) and (max-width: 767.98px) {
					width: calc(100vw - 540px);
					left: calc((100vw - 540px - 1rem) * -1);
				}

				// Medium devices (tablets, 768px and up)
				@media (min-width: 768px) and (max-width: 991.98px) {
					width: calc(100vw - 720px);
					left: calc((100vw - 720px - 1rem) * -1);
				}

				// Large devices (desktops, 992px and up)
				@media (min-width: 992px) and (max-width: 1199.98px) {
					width: calc(100vw - 960px);
					left: calc((100vw - 960px - 1rem) * -1);
				}

				// X-Large devices (large desktops, 1200px and up)
				@media (min-width: 1200px) and (max-width: 1399.98px) {
					width: calc(100vw - 1140px);
					left: calc((100vw - 1140px - 1rem) * -1);
				}

				// XX-Large devices (larger desktops, 1400px and up)
				@media (min-width: 1400px) {
					width: calc(100vw - 1320px);
					left: calc((100vw - 1320px - 1rem) * -1);
				}
			}
		}

		&.aligncenter {
			&.is-style-from-screen-left-edge {
				&::after {
					// Small devices (landscape phones, 576px and up)
					@media (min-width: 576px) and (max-width: 767.98px) {
						width: calc(100vw - 270px);
					}

					// Medium devices (tablets, 768px and up)
					@media (min-width: 768px) and (max-width: 991.98px) {
						width: calc(100vw - 360px);
					}

					// Large devices (desktops, 992px and up)
					@media (min-width: 992px) and (max-width: 1199.98px) {
						width: calc(100vw - 480px);
					}

					// X-Large devices (large desktops, 1200px and up)
					@media (min-width: 1200px) and (max-width: 1399.98px) {
						width: calc(100vw - 570px);
					}

					// XX-Large devices (larger desktops, 1400px and up)
					@media (min-width: 1400px) {
						width: calc(100vw - 660px);
					}
				}
			}
		}

		&.alignright {
			&.is-style-from-screen-left-edge {
				&::after {
					@media (max-width: 575.98px) {
						width: 100%;
						left: -1.2rem;
					}

					// Small devices (landscape phones, 576px and up)
					@media (min-width: 576px) and (max-width: 767.98px) {
						width: 100vw;
					}

					// Medium devices (tablets, 768px and up)
					@media (min-width: 768px) and (max-width: 991.98px) {
						width: 100vw;
					}

					// Large devices (desktops, 992px and up)
					@media (min-width: 992px) and (max-width: 1199.98px) {
						width: 100vw;
					}

					// X-Large devices (large desktops, 1200px and up)
					@media (min-width: 1200px) and (max-width: 1399.98px) {
						width: 100vw;
					}

					// XX-Large devices (larger desktops, 1400px and up)
					@media (min-width: 1400px) {
						width: 100vw;
					}
				}
			}
		}
	}
}
